Repository rropen/MEC, pull requests merged in 2021-09, with the labels that each got.

#47 46 fix stats
  src/frontend/src/components/Statistics.vue
Labels: defect, frontend

#54 Issue 53 add black to pre commit hook
  .flake8
  .husky/pre-commit
  .pre-commit-config.yaml
  DEVELOPER.md
  README.md
  package.json
  src/backend/pyproject.toml
  src/backend/tests/conftest.py
  yarn.lock
Labels: debt

#67 66 feat add group cost calculation
  src/backend/mec/models.py
  src/backend/mec/routes/meetings/crud.py
  src/backend/mec/routes/meetings/routes.py
  src/frontend/cypress/integration/Frontend.spec.js
  src/frontend/src/components/PastMeetingForm.vue
  src/frontend/src/components/Table.vue
  src/frontend/src/filters.ts
Labels: feature, backend
